.box {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 26%;
}

.arrow{
  position: absolute;
  top: 46%;
  right: 0%;
  width: 90px;
  border: 1px solid black;
}

.arrow:after {
  content:'';
  position: absolute;
  top: -9px;
  left: 0px;
  width: 0;
  height: 15px; width: 15px;
  border: 1px solid black;
  border-width: 2px 2px 0 0;
  transform: rotate(225deg);
}

.box-header{
  position: absolute;
  top: 40%;
  right: 7.5%;
  width: 400px;
  height: 130px;
  background-color: white;
}

.header {
  position: absolute;
  display: block;
  top: 0%;
  left: 0%;
  font-size: 25px;
  font-family: helvetica;
  font-weight: bold;
  font-style: normal; 
  text-decoration: none;
  color: black;
}

.header-1{
  font-size: 25px;
  font-family: prestige-elite-std, monospace;
  font-weight: normal;
  font-style: normal;   
}

.header2 {
  position: absolute;
  display: block;
  top: 25%;
  left: 0%;
  font-size: 25px;
  font-family: helvetica;
  font-weight: bold;
  font-style: normal; 
  text-decoration: none;
  color: black;
  display: block;
}

.header2:hover{
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.header3 {
  position: absolute;
  display: block;
  top: 50%;
  left: 0%;
  font-size: 25px;
  font-family: helvetica;
  font-weight: bold;
  font-style: normal; 
  text-decoration: none;
  color: black;
  display: block;
  z-index: 2;
}

.header3:hover{
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.line{
  position: absolute;
  top: 46.5%;
  right: 41%;
  width: 380px;
  border: 1px solid black;
}

.box2{
  position: absolute;
  top: 23%;
  left: 9%;
  width: 78%;
  height: 77%;
  overflow: scroll;
}

.box2::-webkit-scrollbar {
  display: none;
}

.title {
  position: absolute;
  top: 5%;
  font-size: 40px;
  line-height: 35px;
  font-family: helvetica;
  font-weight: bold;
  font-style: normal; 
}

.body {
  position: absolute;
  top: 21%;
  font-size: 17px;
  line-height: 21px;
  font-family: prestige-elite-std, monospace;
  font-weight: bold;
  font-style: normal;   
  text-align: justify;
  text-justify: auto;
}

.list{
  position: absolute;
  top: 35%;
  left: -0.95%;
  font-size: 17px;
  line-height: 21px;
  font-family: prestige-elite-std, monospace;
  font-weight: normal;
  font-style: normal; 
}

.list:hover{
  cursor: pointer;
}

#sum{
  position: absolute;
  top: 73%;
  right: 0%;
  text-align: right;
  font-size: 50px;
  font-family: helvetica;
  font-weight: bold;
  font-style: normal;
  text-decoration: underline; 
  border: 0px;
}

.button{
  position: absolute;
  top: 70%;
  width: 150px;
  height: 30px;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  background-color: transparent;
}

.button-text{
  position: absolute;
  top: -10%;
  left: 8%;
  font-size: 17px;
  line-height: 35px;
  font-family: helvetica;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  color: black;
}

.button-text:hover{
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.note{
  position: absolute;
  top: 79%;
  left: 0%;
  font-size: 12px;
  line-height: 21px;
  font-family: prestige-elite-std, monospace;
  font-weight: normal;
  font-style: normal;   
  animation-name: flash;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: block;
}

@keyframes flash {
  0% {opacity:0%;}
  30% {opacity:100%;}
  60% {opacity:100%;}
  100% {opacity:0%;}
}

@media screen and (max-width: 390px) {

.box {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 18%;
}

.arrow{
  position: absolute;
  top: 39%;
  right: 0%;
  width: 40px;
  border: 1px solid black;
}

.arrow:after {
  content:'';
  position: absolute;
  top: -6px;
  left: 0px;
  width: 0;
  height: 10px; width: 10px;
  border: 1px solid black;
  border-width: 2px 2px 0 0;
  transform: rotate(225deg);
}

.box-header{
  position: absolute;
  top: 31%;
  right: 1.5%;
  width: 300px;
  height: 80px;
  background-color: transparent;
}

.header {
  position: absolute;
  display: block;
  top: 0%;
  left: 0%;
  font-size: 19px;
  font-family: helvetica;
  font-weight: bold;
  font-style: normal; 
  text-decoration: none;
  color: black;
}

.header-1{
  font-size: 19px;
  font-family: prestige-elite-std, monospace;
  font-weight: normal;
  font-style: normal;   
}
  
.header2 {
  position: absolute;
  display: block;
  top: 25.5%;
  left: 0%;
  font-size: 19px;
  font-family: helvetica;
  font-weight: bold;
  font-style: normal; 
  text-decoration: none;
  color: black;
  display: block;
}

.header3 {
  position: absolute;
  display: block;
  top: 52%;
  left: 0%;
  font-size: 19px;
  font-family: helvetica;
  font-weight: bold;
  font-style: normal; 
  text-decoration: none;
  color: black;
  display: block;
}

.line{
  position: absolute;
  top: 40%;
  left: -5%;
  width: 80px;
  border: 1px solid black;
}

.box2{
  position: absolute;
  top: 20.5%;
  left: 7.5%;
  width: 86%;
  height: 77%;
  overflow: scroll;
  overflow-x: hidden;
}

.title {
  position: absolute;
  top: 5%;
  font-size: 28px;
  line-height: 25px;
  font-family: helvetica;
  font-weight: bold;
  font-style: normal; 
}

.body {
  position: absolute;
  top: 18%;
  font-size: 17px;
  line-height: 21px;
  font-family: prestige-elite-std, monospace;
  font-weight: normal;
  font-style: normal;   
  text-align: left;
}

.list{
  position: absolute;
  top: 48%;
  left: -1.5%;
  font-size: 17px;
  line-height: 21px;
  font-family: prestige-elite-std, monospace;
  font-weight: normal;
  font-style: normal; 
}

#sum{
  position: absolute;
  top: 124%;
  right: 0%;
  text-align: right;
  font-size: 25px;
  font-family: helvetica;
  font-weight: bold;
  font-style: normal;
  text-decoration: underline; 
  border: 0px;
  width: 95%;
}

.button{
  position: absolute;
  top: 140%;
  right: 0%;
  font-size: 17px;
  line-height: 35px;
  font-family: helvetica;
  font-weight: bold;
  font-style: normal; 
  border: 2px solid black;
  text-decoration: none;
  color: black;
  background-color: transparent;
  z-index: 2;
}

.note{
  position: absolute;
  top: 135%;
  left: 24%;
  font-size: 12px;
  line-height: 21px;
  font-family: prestige-elite-std, monospace;
  font-weight: normal;
  font-style: normal;   
  animation-name: flash;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: block;
}

}
